<ion-header>
  <ion-toolbar>
    <ion-title>{{'ClasiApp'}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="producto" search-icon="search" placeholder="Buscar" show-clear-button="focus"
      slot="start" (ionInput)="buscar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card *ngFor="let prod of listaProductos" (click)="irPaginaProducto(prod)">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="image-container">
            <img alt="{{ prod.Titulo }}" src="{{ URLImagen + prod?.img }}" />
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title class="small-title">{{ prod.Titulo }}</ion-card-title>
            <ion-card-subtitle>{{ prod.Precio + ' GS.' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-content">
            {{ prod.Contenido }}
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
