.small-title {
  font-size: 1rem;
  padding-bottom: 0;
}
.card-content {
  font-size: 0.8rem;
  line-height: 1;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
